html,body {
    margin: 0px;
    padding: 0px;
    background: transparent;
}
button {
    cursor: pointer;
}
button.mini {
    min-width: auto;
    padding: 2px;
}
.no_wrap {
    white-space: nowrap;
}
.width_100 {
    width: 100%;
}
.width_1 {
    width: 1%;
}
.width_auto {
    width: auto;
}
.flex_row {
    display: flex;
    flex-direction: row;
}
.flex_100 {
    flex: 100;
}
.flex_1 {
    flex: 1;
}
.flex_row.centered {
    align-items: center;
}

.font_weight_bold {
    font-weight: bold;
}

.pad_0 {
    padding: 0px;
}
.pad_top_0 {
    padding-top: 0px;
}
.pad_bottom_0 {
    padding-bottom: 0px;
}
.pad_left_0 {
    padding-left: 0px;
}
.pad_right_0 {
    padding-right: 0px;
}

.pad_1 {
    padding: 2px;
}
.pad_top_1 {
    padding-top: 2px;
}
.pad_bottom_1 {
    padding-bottom: 2px;
}
.pad_left_1 {
    padding-left: 2px;
}
.pad_right_1 {
    padding-right: 2px;
}

.pad_2 {
    padding: 4px;
}
.pad_top_2 {
    padding-top: 4px;
}
.pad_bottom_2 {
    padding-bottom: 4px;
}
.pad_left_2 {
    padding-left: 4px;
}
.pad_right_2 {
    padding-right: 4px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.text_align_left {
    text-align: left;
}
.text_align_right {
    text-align: right;
}
.text_align_center {
    text-align: center;
}

.position_relative {
    position: relative;
}

.position_absolute_top_right {
    position: absolute;
    top: 0px;
    bottom: auto;
    left: auto;
    right: 0px;
}

.display_inline_block {
    display: inline-block;
}

button.bg_danger {
    background: linear-gradient(#eec4c4 45%, #d3b6b6 45%, #d9b1b1);
}

button.bg_danger.active {

}