button {
    cursor: pointer;
}
button.mini {
    min-width: auto;
    padding: 2px;
}
.no_wrap {
    white-space: nowrap;
}
.width_100 {
    width: 100%;
}
.width_1 {
    width: 1%;
}
.width_auto {
    width: auto;
}
.flex_row {
    display: flex;
    flex-direction: row;
}
.flex_100 {
    flex: 100;
}
.flex_1 {
    flex: 1;
}
.flex_row.centered {
    align-items: center;
}

.font_weight_bold {
    font-weight: bold;
}

.pad_1 {
    padding: 2px;
}
.pad_top_1 {
    padding-top: 2px;
}
.pad_bottom_1 {
    padding-bottom: 2px;
}
.pad_left_1 {
    padding-left: 2px;
}
.pad_right_1 {
    padding-right: 2px;
}