<div class="main_window_container">
    <div class="window main_window">
        <div class="title-bar">
            <div class="title-bar-text">Proyecto base 002</div>
        </div>
        <div class="window-body has-space">
            <div class="pad_bottom_1">
                <button ref="btn1" v-on:click="() => $dialogs.open({title: 'Ejemplo', template: '<div>Okkk</div>'})">Mostrar diálogo de ejemplo</button>
            </div>
            <div class="pad_bottom_1">
                <button v-on:click="() => $toasts.open({title: 'Ejemplo', text: '<div>Okkk</div>'})">Mostrar toast de ejemplo</button>
            </div>
            <div class="pad_bottom_1">
                <button v-on:click="() => $errors.showError(new $window.Error('Algo fue mal'))">Mostrar error de ejemplo</button>
            </div>
        </div>
        <div class="status-bar">
            <p class="status-bar-field">Bienvenido</p>
            <p class="status-bar-field width_100"></p>
        </div>
    </div>
    <common-dialogs />
    <common-toasts />
    <common-errors />
</div>