<div class="common_dialogs_container">
    <div class="common_dialogs_container_2" v-if="activeDialogs.length">
        <template v-for="dialog, dialogIndex in activeDialogs">
            <div class="window common_dialogs_window"
                v-bind:key="'dialog_' + dialogIndex">
                <div class="title-bar">
                    <div class="title-bar-text">{{ dialog.title }}</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"
                            v-on:click="() => closeDialogByIndex(dialogIndex)"></button>
                    </div>
                </div>
                <div class="window-body has-space">
                    {{ dialog }}
                </div>
                <div class="status-bar" v-if="dialog.footer">
                    <p class="status-bar-field no_wrap">{{ dialog.footer }}</p>
                </div>
            </div>
        </template>
    </div>
</div>