.common_dialogs_container {}
.common_dialogs_container_2 {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
}
.common_dialogs {}
.common_dialogs_window.window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    bottom: 10px;
    overflow: hidden;
}
.common_dialogs_window.window > .window-body {
    height: 100%;
    overflow: scroll;
}

.window.common_dialogs_window {

}