<div class="nwt_process_manager_viewer">
    <div class="title">
        <div class="flex_row centered">
            <div class="flex_1 no_wrap">
                Diálogos abiertos
            </div>
        </div>
    </div>
    <div class="card">
        <template v-if="isLoaded">
            <template v-if="processManager.$list.length === 0">
                <div class="pad_1">No hay diálogos abiertos actualmente.</div>
            </template>
            <template v-else>
                <div class="pad_bottom_1">Hay {{ processManager.$list.length }} diálogos abiertos actualmente:</div>
                <div v-for="dialogProcess, dialogProcessIndex in processManager.$list"
                    v-bind:key="'process_item_' + dialogProcessIndex">
                    <div class="card">
                        <table class="width_100">
                            <tr>
                                <td style="width: 20%;">
                                    <div class="title">PID:</div>
                                </td>
                                <td>
                                    <div class="">{{ dialogProcess.$id }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title">Creado en:</div>
                                </td>
                                <td>
                                    <div class="">{{ $nwt.Timer.fromDateToString(dialogProcess.$createdAt) }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title">Padre:</div>
                                </td>
                                <td>
                                    <div class="">{{ dialogProcess.$parent }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title">Gestor:</div>
                                </td>
                                <td>
                                    <div class="">{{ dialogProcess.$manager?.$id }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title">Hijos:</div>
                                </td>
                                <td>
                                    <div class="">{{ dialogProcess.$children.length }}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <nwt-progress-bar-viewer :progress-bar="progressBar" />
        </template>
    </div>
</div>