<div class="nwt_process_manager_viewer">
    <div class="title">
        <div class="flex_row centered">
            <div class="flex_1 no_wrap">
                Diálogos abiertos
            </div>
        </div>
    </div>
    <div class="card">
        <template v-if="isLoaded">
            <template v-if="processManager.$list.length === 0">
                <div class="pad_1">No hay diálogos abiertos actualmente.</div>
            </template>
            <template v-else>
                <div class="pad_bottom_1">Hay {{ processManager.$list.length }} diálogos abiertos actualmente:</div>
                <table class="width_100">
                    <thead>
                        <tr>
                            <th>PID</th>
                            <th>Creado:</th>
                            <th style="width:60px;">Padre:</th>
                            <th>Gestor:</th>
                            <th style="width:60px;">Hijos:</th>
                            <th style="width:40px;"></th>
                            <th style="width:40px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=""
                            v-for="dialogProcess, dialogProcessIndex in processManager.$list"
                            v-bind:key="'process_item_' + dialogProcessIndex">
                            <td>
                                <div class="" :title="dialogProcess.$id">{{ dialogProcess.$id }}</div>
                            </td>
                            <td>
                                <div class="" :title="$nwt.Timer.fromDateToString(dialogProcess.$createdAt)">{{ $nwt.Timer.fromDateToString(dialogProcess.$createdAt) }}</div>
                            </td>
                            <td>
                                <div class="" :title="dialogProcess.$parent?.$id">{{ dialogProcess.$parent?.$id }}</div>
                            </td>
                            <td>
                                <div class="" :title="dialogProcess.$manager?.$id">{{ dialogProcess.$manager?.$id }}</div>
                            </td>
                            <td>
                                <div class="" :title="dialogProcess.$children.length">{{ dialogProcess.$children.length }}</div>
                            </td>
                            <td>
                                <button class="mini" v-on:click="() => toggleProcess(dialogProcess)">{{ dialogProcess.$isHidden ? "➕" : "➖" }}</button>
                            </td>
                            <td>
                                <button class="mini" v-on:click="() => dialogProcess.close()">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </template>
        <template v-else>
            <nwt-progress-bar-viewer :progress-bar="progressBar" />
        </template>
    </div>
</div>