<div class="common_toasts_container">
    <div class="common_toasts_container_2" v-if="activeToasts.length">
        <template v-for="toast, toastIndex in activeToasts">
            <div class="window common_toasts_window"
                v-bind:key="'toast_' + toastIndex">
                <div class="title-bar">
                    <div class="title-bar-text">{{ toast.title }}</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"
                            v-on:click="() => closeToastByIndex(toastIndex)"></button>
                    </div>
                </div>
                <div class="window-body has-space">
                    {{ toast.text }}
                </div>
                <div class="status-bar" v-if="toast.footer">
                    <p class="status-bar-field no_wrap">{{ toast.footer }}</p>
                </div>
            </div>
        </template>
    </div>
</div>