.common_toasts_container {}
.common_toasts_container_2 {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}
.common_toasts {}
.common_toasts_container_3 {
    max-height: 250px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.6);
    padding-top: 4px;
    border-top: 1px solid black;
}
.common_toasts_container_4 {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}
.common_toasts_window.window {
    
}
.common_toasts_window.window > .window-body {
    height: 100%;
}